.catalogRatingBody {
  font-size: 24px;
  width: max-content;
  position: relative;
  color: #b7b7b7;
}

.catalogRatingBody::before {
  content: '\2606''\2606''\2606''\2606''\2606';
  color: #f89f19;
  display: block;
}

.catalogRatingItems {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.catalogRatingItem {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.catalogRatingActive {
  position: absolute;
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.catalogRatingActive::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f89f19;
}
